<%= form_for(@purchase) do |purchase| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchases.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end #if @purchase.errrors.any? %>

  <%= purchase.hidden_field :member_id, :value => m_id %>
  <table class="input">
    <tr>
      <th><%= purchase.label :purchase_date %></th>
      <td><%= purchase.date_field :purchase_date %></td>
    </tr>
    <tr>
      <th><%= purchase.label :description %></th>
      <td><%= purchase.text_field :description %></td>
    </tr>
    <tr>
      <th><%= purchase.label :amount %></th>
      <td><%= purchase.number_field :amount, :step => 0.01 %></td>
    </tr>
    <tr>
      <td><%= link_to 'Cancel', members_path, class: "as-button" %></td>
      <td><%= purchase.submit "Record purchase" %></td>
    </tr>
  </table>

<% end #form_for(@member) %>
